@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}
:root{
    --vemelho: #D52B1E;
    --amarelo: #FFBC4A;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.986) ;
}
.CTA{
    background-color: var(--amarelo);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 55px;
    border-radius: 40px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5) ;
    transition: ease box-shadow 20s;
    font-size: 16px;
}
.CTA:hover{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.986) inset ;
    cursor: pointer;
    font-size: 15px;
}
#hero{
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 30vh 15vh;
}
#hero a{
    grid-row: 2;
    margin: auto 18vw ;
}
#cobertura-box{
    width: 70%;
    height: 308px;
    background-color: #a31006;
    margin: 100px auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.986) ;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
#cobertura-box img{
    margin-left: -80px;
    margin-top: -150px;
}

#cobertura-box div{
    width: 70%;
    color: whitesmoke;
}

form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px;
}
input{
    width: 50%;
    border: none;
    padding: 0 20px ;
    font-size: 20px;
}
::placeholder{
    font-size: 20px;
}
input:focus{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.986) inset ;

}
#about{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
}
#planos, #servicos{
    width: 70%;
    margin: auto;

}
#planos h2{
    text-align: center;
    font-size: 3rem;
}
#planogrid{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#planogrid img{
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.986) ;
    border-radius: 20px;
    transition: transform 0.5s ease;
}
#planogrid img:hover, #sugestao img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#servicos {
    margin-top: 100px;
    width: 90%;
    margin-bottom: 100px;

}
#servicos h2{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    
}
.redline{
    height: 5px;
    width: 70%;
    background-color: var(--vemelho);
    margin: auto;
    border-radius: 100%;
    margin-bottom: 40px;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    gap: 50px
}
.box{
    width: 281.882px;
    height: 181.133px;
    margin: auto;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 5px 5px 30px 0px rgba(255, 255, 255, 0.25) inset;
    display: flex;
    flex-direction: column;
}
.box p{
    margin: 0 14px ;
    text-align: center;
}

.box svg{
    width: 160.708px;
    height: 31.082px;
    margin: 20px auto;
}
#sugestao{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
#sugestao img{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 5px 5px 30px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 20px;
    transition: transform 0.5s ease;
    margin-bottom: 100px;
}
#textbox{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 200px;
}
#textbox p{
    text-indent: 20px;
}
#zap{
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 250px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#zap:hover{
    transform: scale(1.1);
}

footer{
    width: 100vw;
    height: 70px;
    background-color: var(--vemelho);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
}
footer .CTA{
    font-size: 12px;
    text-align: center;
}

footer .CTA:hover{
    font-size: 11.5px;
    text-align: center;
}